# Исключаем архив
pkg/go-server-server-generated.zip

# Исключаем папку с зависимостями (если не нужно копировать)
vendor/

# Исключаем кеши Go
*.log
*.out
*.exe
*.test
*.swp

# Исключаем локальные файлы IDE
.vscode/
.idea/
*.iml
.DS_Store

# Исключаем скрытые файлы системы
.git/
